
* {
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
}

div {
    width: 350px;
    height: 350px;
    background: coral;
    color: black;
    font-size: 2em;
    font-family: cursive;
    border-radius: 35px;
    text-align: center;
    border: 10px solid black;


    transition-duration: 2s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: all;


    transition: 2s 0s cubic-bezier(0.165, 0.84, 0.44, 1) all;

}


div:hover {
    border-radius: 100%;
    width: 250px;
    height: 450px;
    background-color:blue;
}