body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffc0cb, #ffd6e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ff66a3;
  border-radius: 6px;
  font-size: 1em;
}

button {
  background-color: #ff66a3;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 1.1em;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4081;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 500px) {
  .container {
    width: 70%;
  }

}

@media (max-width: 319px) {
  button {
    width: 90%;
    font-size: 90%;
  }
}
