* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #f0f0f0;
  height: 100vh;
  width: 100%;
}

h1 {
  color: #333;
  margin-bottom: 2rem;
  padding-left: 100px;
}

.animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.animal-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.animal-card:hover {
  transform: scale(1.05);
}

.animal-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.animal-card h2 {
  margin: 0.5rem 0;
  color: #0077cc;
}

.animal-card p {
  margin: 0.5rem 0;
  color: #555;
  font-size: 0.95rem;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}