
    /* -text-transform- */

 /* uppercase - მთლიან ტექსტს ხდის დიდი ასოებით დაწერიილს.     */
#Header-1 {
    text-transform: uppercase;
}

/* lowercase - მთლიან ტექსტს ხდის პატარა ასოებით დაწერილს. */
#Header-2 {
    text-transform: lowercase;
}

/* capitalize - ყოველი სიტყვის პირველ ასოს ხდის დიდი ასოებით დაწერილს. */
#Header-3 {
    text-transform: capitalize;
}

    /* -text-decoration- */

/* overline - ტექსტს ზემოთ ავლებს ხაზს. */
#Header-4 {
    text-decoration: overline;
}

/* line-through - ტექსტის შუაში ავლებს ხაზს. */
#Header-5 {
    text-decoration: line-through;
}

/* underline - ტექსტის ქვემოთ ავლებს. */
#Header-6 {
    text-decoration: underline;
}

    /* -text-align- */

/* center - ტექსტს მოაქცევს შუა ნაწილში. */
#Header-7 {
    text-align: center;
}

/* right - ტექსტს მოაქცევს მარჯვენა ნაწილში. */
#Header-8 {
    text-align: right;
}

/* left - ტექსტს მოაქცევს მარცხენა ნაწილში. */
#Header-9 {
    text-align: left;
}

    /* -text-shadow- */

/* 10px - x ღერძზე ამოძრავებს ჩრდილს. */
/* 20px - y ღერძზე ამოძრავებს ჩრდილს. */
/* 30px - ბლარავს ჩრდილს, რაც უფრო მაღალია უფრო რთულია დანახვა. */
.Header-10 {
    text-shadow: 10px 20px 30px;
}

    /* -letter-spacing- */

/* normal - ასობგერებს შორის ჩვეულებრივ დაშორებას აკეთებს. */
#Header-11 {
    letter-spacing: normal;
}

/* ასევე გადაეცემა რიცხვითი მნიშვნელობა 1,2,3... px. */
#Header-12 {
    letter-spacing: 3px;
}

/* 1,2,3... em. */
#Header-13 {
    letter-spacing: 1em;
}

    /* -word-spacing- */

/* normal - სიტყვებს შორის ჩვეულებრივ დაშორებას აკეთებს. */
#Header-14 {
    word-spacing: normal;
}

/* ასევე გადაეცემა რიცხვითი მნიშვნელობა 1,2,3... px. */
#Header-15 {
    word-spacing: 8px;
}

/* 1,2,3... em. */
#Header-16 {
    word-spacing: 3em;
}


/* full information 👇 */

/*
  

    
    -text-transform-
    1. uppercase - მთლიან ტექსტს ხდის დიდი ასოებით დაწერიილს.
    2. lowercase - მთლიან ტექსტს ხდის პატარა ასოებით დაწერილს.
    3. capitalize - ყოველი სიტყვის პირველ ასოს ხდის დიდი ასოებით დაწერილს.

    -text-decoration-
    1. overline - ტექსტს ზემოთ ავლებს ხაზს.
    2. line-through - ტექსტის შუაში ავლებს ხაზს. 
    3. underline - ტექსტის ქვემოთ ავლებს.

    -text-align-
    1. center - ტექსტს მოაქცევს შუა ნაწილში.
    2. right - ტექსტს მოაქცევს მარჯვენა ნაწილში.
    3. left - ტექსტს მოაქცევს მარცხენა ნაწილში.

    -text-shadow- 
    1. 10px - x ღერძზე ამოძრავებს ჩრდილს.
    2. 20px - y ღერძზე ამოძრავებს ჩრდილს.
    3. 30px - ბლარავს ჩრდილს, რაც უფრო მაღალია უფრო რთულია დანახვა.
    text-shadow: 10px 20px 30px (color);

    -letter-spacing-
    1. normal - ასობგერებს შორის ჩვეულებრივ დაშორებას აკეთებს.
    2. ასევე გადაეცემა რიცხვითი მნიშვნელობა 1,2,3... px.
    3. 1,2,3... em.

    -word-spacing-
    1. normal - სიტყვებს შორის ჩვეულებრივ დაშორებას აკეთებს.
    2. ასევე გადაეცემა რიცხვითი მნიშვნელობა 1,2,3... px.
    3. 1,2,3... em.

/*








































