* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'd1 d1 d1'
    'd2 d3 d3'
    'd2 d4 d5';
    gap: 8px;
}




.div1 {
    grid-area: d1;
    background-color: orange;
    border: 1px solid black;
}

.div2 {
    grid-area: d2;
    background-color: teal;
    border: 1px solid black;


}

.div3 {
    grid-area: d3;
    background-color: aqua;
    border: 1px solid black;


}

.div4 {
    grid-area: d4;
    background-color: red;
    border: 1px solid black;


}

.div5 {
    grid-area: d5;
    background-color: orange;
    border: 1px solid black;

}