table {
    border-collapse: collapse; 
    width: 100%;
}

tr:nth-child(1) {
    background-color: blueviolet;
}

tr:nth-child(even) {
    background-color: lightgray;
}



td , th {
    padding: 15px;
    text-align: center;
}

