button {
    color: red;
}

.btn1 {
    color: green;
}

#id-1 {
    color: darkblue;
}

#id-2 {
    color: darkblue;
}

#id-3 {
    color: darkblue;
}

#id-4 {
    color: darkblue;
}

#id-5 {
    color: darkblue;
}