/* h1 {
    color: red;
    font-family: courier;
    letter-spacing: 10px;
}

p {
    color: red;
    font-family: courier;
} */

button {
    color: black;
    width: 50px;
    height: 40px;
    background-color: aqua;
}