* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero {
  padding: 75px;
  border: 1px solid black;
  border-radius: 10px;
}

img {
  max-width: 400px;
  max-height: 300px;
}

.black {
  border: 2px solid steelblue;
  border-radius: 50%;
  background-color: black;
  padding: 3px 13px;
  margin-right: 13px;
}
.black:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.green {
  border: 2px solid steelblue;
  border-radius: 50%;
  background-color: green;
  padding: 3px 13px;
}
.green:hover {
  background-color: rgb(0, 128, 0, 0.5);
}

.old {
  color: gray;
  text-decoration: line-through;
}

.price {
  color: brown;
  font: 700;
}

.add {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: black;
  color: white;
}